* {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.container-fluid00 img {
  width: 250px;
  margin-right: 40px;
  height: auto;
}

.container-fluid00 {
  background-image: url("../images/home/01.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#navItem:hover {
  color: #b9b9b9;
}

.title-main-one {
  margin-top: 12rem;
}

.title-main-one button {
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 30px;
}

.arrow img {
  margin-top: 5px;
  width: 100px;
}

.container-fluid01 {
  background-image: url("../images/home/03.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-fluid02 {
  background-image: url("../images/home/02.gif");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid03 {
  background-image: url("../images/home/04.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: #000;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 452px) {
  .footer p {
    font-size: 12px;
  }
}
@media (max-width: 336px) {
  .footer p {
    font-size: 10px;
  }
  .title-main-one button {
    font-size: 14px;
    padding: 5px;
  }
}
.container-fluid04 img {
  width: 250px;
  height: auto;
}

.container-fluid04 {
  background-image: url("../images/humanFlight/01.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid05 {
  background-image: url("../images/humanFlight/02.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid06 {
  background-image: url("../images/humanFlight/03.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid07 {
  background-image: url("../images/humanFlight/04.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid08 {
  background-image: url("../images/humanFlight/05.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.titles-human p {
  font-size: 35px;
}

.titles-human h1 {
  font-size: 120px;
}

.arrow-human img {
  display: inline-block;
  width: 150px;
  margin-top: 10rem;
}

.p-main-two {
  font-size: 20px;
  max-width: 60%;
  margin: 0 auto;
}

.title-mission {
  margin-top: 10rem;
}

.btn-explorer {
  margin-left: 55%;
}

.title-mission h1 {
  font-size: 60px;
  font-weight: 700;
  margin-left: 55%;
}

.title-mission p {
  font-size: 18px;
  margin-left: 55%;
}

.title-mission button {
  text-transform: uppercase;
}

.spacial-station {
  margin-top: 18rem;
}

.spacial-station h1 {
  font-size: 60px;
  font-weight: 700;
}

.spacial-btn {
  text-transform: uppercase;
}

.mission-moon {
  margin-top: 14rem;
}

.moon-p {
  margin-left: 55%;
  font-size: 18px;
}

.moon-title {
  margin-left: 55%;
  font-size: 60px;
  font-weight: 700;
  margin-left: 55%;
}

.moon-btn {
  margin-left: 55%;
  text-transform: uppercase;
}

.marte {
  margin-top: 15rem;
}

.marte h1 {
  font-size: 60px;
  font-weight: 700;
}

.information-content {
  background-color: #000;
  padding: 10rem;
}

@media (max-width: 336px) {
  .footer p {
    font-size: 10px;
  }
}
#carousel01,
#carousel02,
#carousel03,
#carousel04,
#carousel05,
#carousel06,
#carousel07,
#carousel08,
#carousel09 {
  height: 100vh;
}

.container-fluid09 {
  background-image: url("../images/falcon9/01.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid09 img {
  width: 250px;
  height: auto;
}

.container-fluid10 {
  background-image: url("../images/falcon9/02.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid12 {
  background-image: url("../images/falcon9/08.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.titles-falcon {
  margin-top: 10rem;
}

.titles-falcon h1 {
  font-size: 90px;
  font-weight: 700;
}

.titles-falcon p {
  font-size: 18px;
  font-weight: 500;
}

.info-falcon h1 {
  font-size: 80px;
}

.info-falcon p {
  font-size: 22px;
}

.text-falcon {
  max-width: 50%;
  line-height: 2.5rem;
  margin-top: 10rem;
}

.merlin {
  padding: 10rem;
}

.merlin-content p {
  max-width: 45%;
  margin-top: 1rem;
  font-size: 20px;
}

.merlin-table {
  padding: 20px;
  max-width: 45%;
}

/*# sourceMappingURL=style.css.map */
