@import "./others/variables.scss";

@import "./pages/home.scss";

@import "./pages/falcon9.scss";

@import "./pages/human.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
