.container-fluid00 img {
  width: 250px;
  margin-right: 40px;
  height: auto;
}

.container-fluid00 {
  background-image: url("../images/home/01.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#navItem:hover {
  color: $nav-hover;
}

.title-main-one {
  margin-top: 12rem;
}

.title-main-one button {
  font-size: 18px;
  text-transform: $text-button;
  padding: $padding-button;
}

.arrow img {
  margin-top: 5px;
  width: 100px;
}

.container-fluid01 {
  background-image: url("../images/home/03.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-fluid02 {
  background-image: url("../images/home/02.gif");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid03 {
  background-image: url("../images/home/04.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: #000;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 452px) {
  .footer p {
    font-size: 12px;
  }
}

@media (max-width: 336px) {
  .footer p {
    font-size: 10px;
  }
  .title-main-one button {
    font-size: 14px;
    padding: 5px;
  }
}
